USE [PasswordManagement]
GO
/****** Object:  Table [dbo].[GuvenlikLoglari]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuvenlikLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTarihi] [datetime] NULL,
	[IslemTuru] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](255) NULL,
	[SifreID] [int] NULL,
	[KategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](50) NOT NULL,
	[RenkKodu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sifreler]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sifreler](
	[SifreID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriID] [int] NULL,
	[PlatformAdi] [nvarchar](100) NOT NULL,
	[KullaniciAdi] [nvarchar](100) NULL,
	[SifreliVeri] [nvarchar](max) NOT NULL,
	[OlusturmaTarihi] [datetime] NULL,
	[Eposta] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SifreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[GuvenlikLoglari] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT ('#Gray') FOR [RenkKodu]
GO
ALTER TABLE [dbo].[Sifreler] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[GuvenlikLoglari]  WITH CHECK ADD  CONSTRAINT [FK_Log_Kategori] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GuvenlikLoglari] CHECK CONSTRAINT [FK_Log_Kategori]
GO
ALTER TABLE [dbo].[GuvenlikLoglari]  WITH CHECK ADD  CONSTRAINT [FK_Log_Sifre] FOREIGN KEY([SifreID])
REFERENCES [dbo].[Sifreler] ([SifreID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GuvenlikLoglari] CHECK CONSTRAINT [FK_Log_Sifre]
GO
ALTER TABLE [dbo].[Sifreler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
/****** Object:  StoredProcedure [dbo].[sp_GuvensizSifreleriGetir]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GuvensizSifreleriGetir]
AS
BEGIN
    SELECT * FROM Sifreler WHERE LEN(SifreliVeri) < 8
END

GO
/****** Object:  StoredProcedure [dbo].[sp_IstatistikGetir]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IstatistikGetir]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM Sifreler) AS ToplamSifre,
        (SELECT COUNT(*) FROM Kategoriler) AS ToplamKategori,
        (SELECT COUNT(*) FROM GuvenlikLoglari) AS ToplamIslem
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KategoriEkle]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KategoriEkle]
(
    @KategoriAdi NVARCHAR(50),
    @RenkKodu NVARCHAR(20)
)
AS
BEGIN
    INSERT INTO Kategoriler (KategoriAdi, RenkKodu) VALUES (@KategoriAdi, @RenkKodu)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KategoriGuncelle]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KategoriGuncelle]
(
    @KategoriID INT,
    @KategoriAdi NVARCHAR(50),
    @RenkKodu NVARCHAR(20)
)
AS
BEGIN
    UPDATE Kategoriler 
    SET KategoriAdi = @KategoriAdi, RenkKodu = @RenkKodu 
    WHERE KategoriID = @KategoriID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KategorileriGetir]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_KategorileriGetir]
AS
BEGIN
    -- RenkKodu'nu da ekledik!
    SELECT KategoriID, KategoriAdi, RenkKodu FROM Kategoriler
END

GO
/****** Object:  StoredProcedure [dbo].[sp_KategoriSil]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KategoriSil]
(
    @KategoriID INT
)
AS
BEGIN
    DELETE FROM Kategoriler WHERE KategoriID = @KategoriID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LogEkle]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LogEkle]
(
    @IslemTuru NVARCHAR(50),
    @Aciklama NVARCHAR(255),
    @SifreID INT = NULL,    -- Varsayılan değer NULL (Boş)
    @KategoriID INT = NULL  -- Varsayılan değer NULL
)
AS
BEGIN
    INSERT INTO GuvenlikLoglari (IslemTarihi, IslemTuru, Aciklama, SifreID, KategoriID)
    VALUES (GETDATE(), @IslemTuru, @Aciklama, @SifreID, @KategoriID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoglariGetir]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoglariGetir]
AS
BEGIN
    -- En son yapılan işlem en üstte görünsün (DESC)
    SELECT LogID, IslemTarihi, IslemTuru, Aciklama 
    FROM GuvenlikLoglari 
    ORDER BY IslemTarihi DESC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_LoglariTemizle]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoglariTemizle]
AS
BEGIN
    -- 30 günden eski kayıtları uçur
    DELETE FROM GuvenlikLoglari WHERE IslemTarihi < DATEADD(day, -30, GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SifreAra]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Arama Prosedürünü Güncelle (E-postayı da getirsin)
CREATE PROCEDURE [dbo].[sp_SifreAra]
(
    @ArananKelime NVARCHAR(50)
)
AS
BEGIN
    SELECT 
        S.SifreID,
        K.KategoriAdi,
        S.PlatformAdi,
        S.KullaniciAdi,
        S.Eposta, 
        S.SifreliVeri,
        S.OlusturmaTarihi
    FROM Sifreler S
    INNER JOIN Kategoriler K ON S.KategoriID = K.KategoriID
    WHERE 
        S.PlatformAdi LIKE '%' + @ArananKelime + '%' 
        OR 
        S.KullaniciAdi LIKE '%' + @ArananKelime + '%'
        OR
        S.Eposta LIKE '%' + @ArananKelime + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SifreEkle]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. ADIM: Prosedürü Sıfırdan, Doğru Şekilde Oluştur
CREATE PROCEDURE [dbo].[sp_SifreEkle]
(
    @KategoriID INT,
    @PlatformAdi NVARCHAR(100),
    @KullaniciAdi NVARCHAR(100),
    @Eposta NVARCHAR(100), -- İşte burası çok önemli
    @SifreliVeri NVARCHAR(MAX)
)
AS
BEGIN
    INSERT INTO Sifreler 
    (
        KategoriID, 
        PlatformAdi, 
        KullaniciAdi, 
        Eposta, -- Tablodaki sütun adı
        SifreliVeri, 
        OlusturmaTarihi
    )
    VALUES 
    (
        @KategoriID, 
        @PlatformAdi, 
        @KullaniciAdi, 
        @Eposta, -- Gelen veri
        @SifreliVeri, 
        GETDATE()
    )
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SifreGuncelle]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SifreGuncelle]
(
    @SifreID INT,
    @KullaniciAdi NVARCHAR(100),
    @SifreliVeri NVARCHAR(MAX)
)
AS
BEGIN
    UPDATE Sifreler 
    SET 
        KullaniciAdi = @KullaniciAdi, 
        SifreliVeri = @SifreliVeri
    WHERE SifreID = @SifreID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SifreSil]    Script Date: 12/12/2025 4:04:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SifreSil]
(
    @SifreID INT
)
AS
BEGIN
    DELETE FROM Sifreler WHERE SifreID = @SifreID
END

GO
